/* ============================== GENERAL */

html,
body {
    /* zoom: 100vw; */
    width: 100%;
    min-width: 390px;
    min-height: 100vh;

}

.container {
    height: 100%;
    padding: 15px;
}

h3 {
    margin: 0;
}

a {
    font-size: 14pt;
}

a:visited {
    color: white;
}

.card-header {
    background-color: #343a40;
    color: #fff;
    border: 1px solid #343a40;
}


/* ============================== JUMBOTRON */

.jumbotron {
    margin-bottom: 0px;
    padding: 25px 10px;

}


/* ============================== TABLE */

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

.tableDiv {
    overflow: auto;
    font-size: 9pt;
    margin: 15px 6px;
    padding: 0px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    max-height: 50vh;

}

.table thead, .table th {
    padding: 5px;
    border: 1px solid #c2c2c2;
    background-color: rgba(0,0,0,.03);
}

.table td {
    border-right: 1px solid #f3f3f3; 
    border-left: 1px solid #f3f3f3; 
    border-bottom: 1px solid #f3f3f3; 
}

td.selector {
    min-width: 70px;
    font-size: 8pt;
    word-break: break-all;
}


/* ============================== MODAL */

.caution {
    background-color: red;
}


/* ============================== SUBMIT */

.btn {
    margin-left: 50%;
    transform: translateX(-50%);
}